# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [72]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [73]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [74]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [75]:
data1 = data.copy()

data1 = data1.groupby(["CustomerID","ProductName"]).agg({"Quantity":"sum"})

data1.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [76]:
data2 = data.copy()

data2 = pd.pivot_table(data2, index="ProductName", columns="CustomerID", values="Quantity").fillna(0)

data2 = data2.T

data2

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
264,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
412,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.0,0.0,0.0,25.0,0.0,25.0,0.0,25.0,0.0,0.0,...,0.0,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98069,0.0,0.0,0.0,25.0,0.0,25.0,0.0,0.0,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0
98185,0.0,0.0,25.0,25.0,0.0,25.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
98200,0.0,0.0,0.0,0.0,0.0,25.0,25.0,0.0,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [77]:
data3= data2.copy()

dist = pdist(data3, 'euclidean')
df_dist = pd.DataFrame(1 / (1+(squareform(dist))), columns=data3.index, index=data3.index)

df_dist

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.085297,0.093953,0.091747,0.087410,0.089695,0.085297,0.088913,0.088152,0.089695,...,0.004809,0.005108,0.004996,0.005421,0.004920,0.005023,0.004880,0.005026,0.004549,0.004883
200,0.085297,1.000000,0.085638,0.085297,0.080070,0.083020,0.084959,0.083651,0.085638,0.087047,...,0.004825,0.005121,0.005014,0.005448,0.004925,0.005032,0.004909,0.005042,0.004553,0.004879
264,0.093953,0.085638,1.000000,0.088152,0.089301,0.087047,0.085638,0.086333,0.087047,0.087047,...,0.004822,0.005115,0.004996,0.005441,0.004932,0.005055,0.004894,0.005042,0.004566,0.004883
356,0.091747,0.085297,0.088152,1.000000,0.085983,0.086688,0.085983,0.091325,0.085983,0.087410,...,0.004814,0.005111,0.004999,0.005437,0.004920,0.005036,0.004871,0.005042,0.004563,0.004886
412,0.087410,0.080070,0.089301,0.085983,1.000000,0.085638,0.085638,0.089301,0.084959,0.087779,...,0.004808,0.005131,0.004996,0.005441,0.004925,0.005042,0.004876,0.005039,0.004568,0.004903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.005023,0.005032,0.005055,0.005036,0.005042,0.005042,0.005042,0.005039,0.005039,0.005033,...,0.003732,0.003945,0.003749,0.004045,0.003964,1.000000,0.003945,0.003945,0.003579,0.003608
98069,0.004880,0.004909,0.004894,0.004871,0.004876,0.004877,0.004882,0.004880,0.004886,0.004886,...,0.003638,0.003765,0.003716,0.003782,0.003888,0.003945,1.000000,0.003907,0.003608,0.003765
98159,0.005026,0.005042,0.005042,0.005042,0.005039,0.005039,0.005039,0.005033,0.005045,0.005036,...,0.003732,0.003984,0.003852,0.003888,0.003817,0.003945,0.003907,1.000000,0.003732,0.003732
98185,0.004549,0.004553,0.004566,0.004563,0.004568,0.004556,0.004556,0.004563,0.004558,0.004547,...,0.003469,0.003469,0.003653,0.003749,0.003565,0.003579,0.003608,0.003732,1.000000,0.003700
98200,0.004883,0.004879,0.004883,0.004886,0.004903,0.004897,0.004885,0.004883,0.004877,0.004895,...,0.003638,0.003732,0.003817,0.003817,0.003782,0.003608,0.003765,0.003732,0.003700,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [78]:
data4 = df_dist.copy()

#Specific CustomerID = 33

similarities = data4[33].sort_values(ascending=False)[1:6]

similarities

CustomerID
3909    0.095358
264     0.093953
3531    0.093953
2503    0.093498
3305    0.093051
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [79]:
data5 = data4.copy()

# data3.xs([264,3535,3317,2503,3305], level=0)

data5 = data1.loc[[264,3535,3317,2503,3305]]

data5

                                           Quantity
CustomerID ProductName
264        Apricots - Halves                      1
           Apricots Fresh                         1
           Bacardi Breezer - Tropical             1
           Bagel - Plain                          1
           Banana - Leaves                        1
...                                             ...
3535       Tray - 16in Rnd Blk                    1
           Wanton Wrap                            1
           Wine - Blue Nun Qualitatswein          1
           Wine - Magnotta, Merlot Sr Vqa         1
           Yoghurt Tubes                          1

[270 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [80]:
data6 = data5.copy()

data6 = data6.groupby("ProductName").agg({"Quantity":"sum"}).sort_values(by=['Quantity'], ascending=False)

data6.head()

                               Quantity
ProductName
Butter - Unsalted                     3
Wine - Ej Gallo Sierra Valley         3
Towels - Paper / Kraft                3
Soup - Campbells Bean Medley          3
Wine - Blue Nun Qualitatswein         3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [81]:
data7 = data6.copy()

data72 = data2.T

merged = data7.merge(data72[33], how="left", on='ProductName')

In [82]:
merged = merged.loc[merged[33]==0].sort_values(by=['Quantity'], ascending=False)[:5]

merged.head()

                               Quantity   33
ProductName
Butter - Unsalted                     3  0.0
Soup - Campbells Bean Medley          3  0.0
Wine - Blue Nun Qualitatswein         3  0.0
Wine - Ej Gallo Sierra Valley         3  0.0
Beans - Wax                           2  0.0

In [83]:
list(merged.index)

['Butter - Unsalted',
 'Soup - Campbells Bean Medley',
 'Wine - Blue Nun Qualitatswein',
 'Wine - Ej Gallo Sierra Valley',
 'Beans - Wax']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [84]:
def recomendator(customersList, metric="euclidean"):

    dict = {}

    step3 = pd.DataFrame(1 / (1+(squareform(pdist(data3, metric)))), columns=data3.index, index=data3.index)

    for element in customersList[0]:

        step4 = step3[element].sort_values(ascending=False)[1:6]

        step5 = data1.loc[list(step4.index)]

        step6 = step5.groupby("ProductName").agg({"Quantity":"sum"}).sort_values(by=['Quantity'], ascending=False)

        step7 = data2.T

        step7bis = step6.merge(step7[element], how="left", on='ProductName')

        step7bis2 = step7bis.loc[step7bis[element]==0].sort_values(by=['Quantity'], ascending=False)[:5]

        dict[element] = list(step7bis2.index)

    return dict

In [85]:
customers = [df_dist.index]

dictDef = recomendator(customers)

In [86]:
for key in dictDef:
  print(key, ":", dictDef[key])
  break

33 : ['Chocolate - Dark', 'Bay Leaf', 'Oranges - Navel, 72', 'Wine - Ej Gallo Sierra Valley', 'Pecan Raisin - Tarts']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [87]:
data8 = dictDef.copy()

data8 = pd.DataFrame.from_dict(data8, orient='index')

data8.head()

,0,1,2,3,4
33,Chocolate - Dark,Bay Leaf,"Oranges - Navel, 72",Wine - Ej Gallo Sierra Valley,Pecan Raisin - Tarts
200,Soup - Campbells Bean Medley,Bay Leaf,Pork - Kidney,Muffin - Carrot Individual Wrap,Scampi Tail
264,Cheese - Parmesan Grated,Fondant - Icing,Beer - Sleemans Cream Ale,Muffin - Carrot Individual Wrap,Squid - Tubes / Tenticles 10/20
356,Butter - Unsalted,Cup - Translucent 7 Oz Clear,Sage - Ground,"Pork - Bacon, Double Smoked","Veal - Inside, Choice"
412,Wine - Blue Nun Qualitatswein,Butter - Unsalted,Table Cloth 81x81 White,"Pepper - Black, Whole",Beef - Top Sirloin

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [88]:
data3= data2.copy()

df_dist = pd.DataFrame(1 / (1+(squareform(pdist(data3, 'cosine')))), columns=data3.index, index=data3.index)

df_dist.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.532692,0.565443,0.550466,0.538239,0.540192,0.524859,0.527028,0.530712,0.536037,...,0.529019,0.521742,0.534813,0.513650,0.534245,0.516959,0.529475,0.521380,0.523291,0.533971
200,0.532692,1.000000,0.540444,0.536424,0.514712,0.523506,0.546896,0.520122,0.540444,0.545661,...,0.550794,0.536424,0.557488,0.543589,0.539102,0.527408,0.569724,0.540096,0.528386,0.526533
264,0.565443,0.540444,1.000000,0.534784,0.555621,0.529915,0.532824,0.517251,0.529915,0.525866,...,0.550500,0.530173,0.533903,0.537132,0.551752,0.563065,0.551325,0.543480,0.551922,0.533084
356,0.550466,0.536424,0.534784,1.000000,0.533110,0.525642,0.533110,0.545887,0.521187,0.526088,...,0.537266,0.525862,0.538805,0.532472,0.533641,0.534488,0.516147,0.543866,0.547973,0.537860
412,0.538239,0.514712,0.555621,0.533110,1.000000,0.532824,0.544000,0.547992,0.528487,0.542463,...,0.526924,0.551365,0.532274,0.535338,0.540327,0.541355,0.523256,0.536914,0.553549,0.562502

In [89]:
customers = [df_dist.index]

dictDef = recomendator(customers, metric="cosine")

In [90]:
for key in dictDef:
  print(key, ":", dictDef[key])
  break

33 : ['Durian Fruit', 'Bread Crumbs - Japanese Style', 'Beef - Ground Medium', 'Beef - Montreal Smoked Brisket', 'Soup - Campbells, Beef Barley']

**Las recomendaciones han variado al modificarse la metrica de distancia**