## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

sample_list_1 = random.sample(range(0,100),80)

print(sample_list_1)

[84, 2, 95, 74, 94, 36, 54, 86, 5, 18, 51, 91, 4, 80, 78, 22, 3, 7, 25, 16, 97, 34, 20, 76, 49, 62, 43, 31, 19, 93, 39, 81, 1, 38, 77, 40, 79, 71, 55, 56, 10, 67, 87, 29, 68, 85, 14, 64, 33, 27, 63, 58, 11, 50, 28, 92, 37, 66, 23, 30, 24, 6, 89, 48, 52, 82, 69, 8, 53, 96, 46, 12, 47, 17, 83, 70, 65, 13, 88, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

sample_list_2 = []

for element in range(80):

    random_number = random.randint(0,100)
    sample_list_2.append(random_number)

print(sample_list_2)

[74, 18, 92, 68, 63, 100, 57, 22, 31, 27, 1, 33, 0, 67, 31, 44, 53, 10, 83, 93, 94, 33, 92, 23, 68, 68, 16, 61, 11, 33, 94, 44, 69, 37, 62, 80, 44, 52, 19, 50, 48, 0, 1, 17, 88, 60, 21, 62, 52, 17, 88, 79, 83, 36, 94, 75, 86, 58, 64, 79, 16, 66, 69, 73, 47, 72, 40, 74, 15, 63, 76, 61, 31, 97, 47, 12, 28, 51, 64, 9]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2 = set(sample_list_2)

len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

# list = []

# for element in set1:

#     if element != set1:

#         list.append(element)

# print(list)

set3 = set1.difference(set2)

print(set3)

{2, 3, 4, 5, 6, 7, 8, 13, 14, 20, 24, 25, 29, 30, 32, 34, 38, 39, 43, 46, 49, 54, 55, 56, 65, 70, 71, 77, 78, 81, 82, 84, 85, 87, 89, 91, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4 = set2.difference(set1)

print(set4)

{0, 100, 72, 9, 73, 75, 44, 15, 21, 57, 60, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{1, 10, 11, 12, 16, 17, 18, 19, 22, 23, 27, 28, 31, 33, 36, 37, 40, 47, 48, 50, 51, 52, 53, 58, 62, 63, 64, 66, 67, 68, 69, 74, 76, 79, 80, 83, 86, 88, 92, 93, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

len(set1) == len(set3) + len(set5)

len(set2) == len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [11]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here

set6.update(set3,set5)

print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here

print(set1.issubset(set2))

print(set1.issuperset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here

compare = set3.union(set4, set5)

compare_2 = set3.union(set1, set2)

compare == compare_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
# Your code here

set1.pop()

#¿Podríamos recorrer todo 'set1' y decidir aplicar el 'pop' sólo en el primer elemento de esta forma?

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [24]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:

    set1.discard(element)